[user]
	name = Anton Ustinoff
	email = a.a.ustinoff@gmail.com

[core]
	autocrlf = false
	eol = lf

[alias]
	gbr = branch
	gbrc = git branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	gst = git status -sb
	gad = git add .
	gps = git push
	gpl = git pull
	gco = git commit -m
	gch = git checkout
	gchb = git checkout -b
	gcgl = git config --global -l
	type = cat-file -t
	dump = cat-file -p
	rmnode = rm -rf node_modules
	catssh = cat ~/.ssh/id_rsa.pub
	ghist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

	# glog = git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30